@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Chewy", system-ui;
    --font3: Arial, Helvetica, sans-serif;
    --font4: "Unkempt", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: blue;
    font-family: var(--font3);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}



header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-size: 10vw;
}
header > p {
    font-family: var(--font3);
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}




section {
    font-family: var(--font4);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    white-space: pre-line;
    font-size: 3vw;
    line-height: 2em;
}
section > p {
    font-size: larger;
}






section.normal {
    background-color: rgb(255, 255, 255);
}
section.imagem{
    color: white;
    box-shadow: inset 0px 8px 10px 0px rgba(0, 0, 0, 0.39)
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 20px;
    text-shadow: 1px 1px 3px black;
}

#v1 {
    background: black url('../imagens/background001.jpg') center center/cover no-repeat fixed;
}
#v2 {
    background: black url('../imagens/background002.jpg') center center/cover no-repeat fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}